<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>claudlobby-plane-prune</string>
  <key>ProgramArguments</key>
  <array>
    <string>./lib/plane-prune.sh</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>CLAUDLOBBY_ROOT</key>
    <string>.</string>
    <key>PATH</key>
    <string>/usr/local/bin:/usr/bin:/bin:/Users/chris/.local/bin:/Users/chris/.bun/bin:/Users/chris/.npm-global/bin:/opt/homebrew/bin:./.venv/bin</string>
  </dict>
  <key>WorkingDirectory</key>
  <string>.</string>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>5</integer>
    <key>Minute</key>
    <integer>15</integer>
  </dict>
</dict>
</plist>
